/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



		/*	body
			{
				background:  url(../images/background.jpg);
				background-size: cover; 

			} */
			@font-face {
				font-family: 'ChunkFive-Roman';
				font-style: normal;
				font-weight: normal;
				src: local('ChunkFive-Roman'), url('Chunkfive.woff') format('woff');
			}
			@font-face {
				font-family: "helve";
				src: url('HelveticaNeue.ttf')  format('truetype');		 
			}
			.wrapper-form 
			{
				background: url(../images/girl.gif) no-repeat , url(../images/time.jpg) no-repeat;
				background-position: 92% 40%, 5% 82%;
				background-color: rgb(246,246,246);
				color: grey;
				font-family: "Segoe UI";
				margin-top: 0px;
				margin-bottom: 0px;
				height: 100%;
  			    box-shadow: 5px 5px 5px rgb(100,100,100);
			}
			select, input, input[type="range"]
			{
				width: 60%;				
				height: 35px;
				border: 1px solid #ddd;
				background-color: rgb(238,238,238);
				padding: 0% 3%;
			}
			input[type="number"]{width:50px;}
			.heading{color: orange;}
			.sub-heading
			{
				color: rgb(100,100,100);
				margin-bottom: 5%;
			}
			label{color: #89b4f9;}
			h1
			{
				font-family: "ChunkFive-Roman";
			}
			select {
			background: url(../images/drop.png) no-repeat right rgb(238,238,238);
			-webkit-appearance: none;
			-moz-appearance: none;
			background-position-x: right;
			cursor: pointer;
			}
			#country
			{
			background: url(../images/flag_us.gif) no-repeat 4% 50%, url(../images/drop.png) no-repeat right rgb(238,238,238);
			padding-left: 10%;
			-webkit-appearance: none;
			-moz-appearance: none;
			cursor: pointer;
			}
			#country option {
			    padding: 8px;
			    padding-left: 45px;
			}
			#slider-3
			{
				width: 100%;
				margin-top: 10px;
			}
			.key-head
			{
				margin: 1%;
				margin-top: 5%;
			}
			#keyword
			{
				border-radius: 35px;
				padding-left: 5px;
				padding-right: 2%;
				background: url(../images/search.png) no-repeat right rgb(238,238,238);
				background-size: 15px 15px;
				background-position: 98% 50%; 
			}
			.btn-custom, .btn-custom:hover
			{
				background-color: orange;
				color: white;
				width: 65%;
				height: 40px;
				border-radius: 40px;
				font-size: 15pt;
				font-weight: bold;
				padding: 0;
				margin-bottom: 7%;
			}
			#keyword{
				width: 100%;
			}
			.amazonoptions{
				display: none;
			}
			.amazonoptions .first-child { 
			    display:block !important;
			}

			.ddcommon{
				width: 60% !important;
				background: #E9EAEB;
			}
			.ddcommon .ddTitle{
				width: 100%;
			}

			/*Injected css override*/
			.dd .ddTitle .ddTitleText {
			    padding: 3px 20px 5px 5px;
			}
			.dd .ddTitle {
			    text-indent: 0px;
			    cursor: default;
			    height: 40px;
			    background: #EEEEEE;
			    border-width: 1px;
			    border-style: solid;
			    border-color: rgb(195, 195, 195);
			    border-image: initial;
			    padding: 0px;
			    overflow: hidden;
			    border-radius: 3px;
			}
			.dd .ddTitle span.ddTitleText img {
			    text-align: left;
			    padding: 0px 2px 0px 0px;
			}
			.ddlabel{
				left: 30px;
				top: 3px;
				color: #838080;
			}
			.dd .divider{
				right: 30px;
			}
			.dd .ddTitle span.ddTitleText {
			    text-indent: 1px;
			    line-height: 24px;
			    overflow: visible;
			}
			.dd .ddTitle span.arrow {
			    float: right;
			    display: inline-block;
			    width: 20px;
			    height: 20px;
			    cursor: pointer;
			    background: url(../images/dd_arrow.gif) 0px 0px no-repeat;
			}
			.dd .ddChild{
				margin-top: -10px !important;
			}
			.dd {
			    text-align: left;
			    background-color: transparent;
			    font-family: Arial, Helvetica, sans-serif;
			    font-size: 12px;
			    position: relative;
			    border:none;
			    cursor: pointer;
			}
			.ddcommon .ddTitle .ddTitleText img{
				margin-top: 9px;
			}

			.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
				background:rgba(0, 0, 0, 0) url("../images/round.png") no-repeat scroll 0 0;
				border:none !important;
				cursor: pointer;
			}
			a:focus{
				outline: none;
			}
			.ui-slider-horizontal{
				height: 0.6em;
			}
			.ui-slider-horizontal .ui-slider-handle{
				top: -0.29em !important;
			}

			.ui-slider .ui-slider-range{
				background:#7cb6e1 none repeat scroll 0 0; 
			}

			@media (max-width:640px){
				#country{
					padding-left:12%;
				}
				.rate,.price{
					position: relative;
					left: 16%;
					top: -20px;
				}
				.price{
					top: 0px;
				}
				
				.rate #slider-3{
					width: 70%;
				}
				#price{
					left: 10px !important;
				}
				.wrapper-form{
					background:url("../images/girl.gif") no-repeat scroll 92% 40%, rgb(246, 246, 246) url("../images/time.jpg") no-repeat scroll 1% 86%;
				}
				h1{
					font-size: 28px;
				}
				.btn-custom, .btn-custom:hover{
					font-size: 10pt;
				}

				.ddcommon{
					width: 60% !important;
					background: inherit;
				}
				.ddcommon .ddTitle{
					width: 100%;
				}
			}
